---
###############################################################################
#
# absent.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# SETTING VARIABLES
###############################################################################



###############################################################################
# ENSURING SERVICE IS STOPPED
###############################################################################

- name: "Ensuring nginx service is stopped"
  ansible.builtin.include_tasks: stopped.yml

###############################################################################
# ENSURING NGINX PACKAGE IS ABSENT
###############################################################################

- name: "Ensuring nginx is installed"
  ansible.builtin.include_tasks: package_absent.yml
  vars:
    iac_package: "nginx"

###############################################################################
# ENSURING REPOSITORIES ARE PRESENT
###############################################################################

- name: "Ensuring Nginx repositories are present"
  ansible.builtin.include_tasks: repo_present.yml
