---
###############################################################################
#
# present.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# SETTING VARIABLES
###############################################################################

- name: "Ensuring dnf plugins core is installed"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    iac_package: "dnf-plugins-core"

- name: "Ensuring openssl is installed"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    iac_package: "openssl"

###############################################################################
# ENSURING REPOSITORIES ARE PRESENT
###############################################################################

- name: "Ensuring Nginx repositories are present"
  ansible.builtin.include_tasks: repo_present.yml

###############################################################################
# ENSURING NGINX PACKAGE IS PRESENT
###############################################################################

- name: "Ensuring nginx is installed"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    iac_package: "nginx"

###############################################################################
# ENSURING CONFIGURATION DIRECTORIES EXIST
###############################################################################

- name: "Ensuring repository is in place"
  ansible.builtin.template:
    src: "nginx.conf.j2"
    dest: "{{ nginx_etc_directory }}/nginx.conf"
    owner: root
    group: root
    mode: "0644"

- name: "Ensuring sites-available directory exists"
  ansible.builtin.file:
    path: "{{ nginx_etc_directory }}/sites-available"
    state: directory
    mode: "0755"

- name: "Ensuring sites-enabled directory exists"
  ansible.builtin.file:
    path: "{{ nginx_etc_directory }}/sites-enabled"
    state: directory
    mode: "0755"

- name: "Ensuring www directory exists"
  ansible.builtin.file:
    path: "{{ nginx_www_directory }}"
    state: directory
    mode: "0755"

- name: "Ensuring log directory exists"
  ansible.builtin.file:
    path: "{{ nginx_log_directory }}"
    state: directory
    mode: "0755"

- name: "Ensuring correct SELinux context"
  ansible.builtin.command: restorecon -Rv {{ nginx_www_directory }}
  when: ansible_facts["virtualization_type"] not in ["docker", "podman", "lxc"]

###############################################################################
# ENSURING FILESYSTEM CONFIGURATION
###############################################################################

- name: "Ensuring filesystem configuration is present"
  ansible.builtin.include_tasks: fs_present.yml
  when: iac_blueprint.nginx.directories is defined
  vars:
    iac_fs_directories: "{{ iac_blueprint.nginx.directories | default([]) }}"
    iac_fs_files: "{{ iac_blueprint.nginx.files | default([]) }}"

###############################################################################
# ENSURING CRONJOB CONFIGURATION
###############################################################################

- name: "Ensuring cron configuration is present"
  ansible.builtin.include_tasks: cron_present.yml
  when: iac_blueprint.nginx.cron is defined
  vars:
    iac_cron: "{{ iac_blueprint.nginx.cron | default([]) }}"
