---
###############################################################################
#
# started.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# ENSURING SYSTEMD SERVICE IS STARTED
###############################################################################

- name: "Checking status for service"
  ansible.builtin.command: "systemctl is-active nginx.service"
  register: service_active
  changed_when: false
  failed_when: false

- name: "Writing log"
  ansible.builtin.include_tasks: log_write.yml
  vars:
    iac_log_write: "Checked service nginx was {{ service_active.stdout }}"

- name: "Setting variables"
  ansible.builtin.set_fact:
    pg_cli_command: "systemctl start nginx.service"
  when: service_active.stdout != 'active'

- name: "Setting variables"
  ansible.builtin.set_fact:
    pg_cli_command: "systemctl restart nginx.service"
  when: service_active.stdout == 'active'

- name: "Ensuring instance is started"
  ansible.builtin.command: "{{ pg_cli_command }}"

- name: "Writing log"
  ansible.builtin.include_tasks: log_write.yml
  vars:
    iac_log_write: "Started service nginx"
  when: service_active.stdout != 'active'

- name: "Writing log"
  ansible.builtin.include_tasks: log_write.yml
  vars:
    iac_log_write: "Restarted service nginx"
  when: service_active.stdout == 'active'
