---
###############################################################################
#
# started.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# ENSURING SYSTEMD SERVICE IS STARTED
###############################################################################

- name: "Executing systemd daemon-reload"
  ansible.builtin.systemd:
    daemon_reload: true
    name: nginx
    state: restarted

- name: "Writing log"
  ansible.builtin.include_tasks: log_write.yml
  vars:
    iac_log_write: "Started/restarted service nginx"
  when: service_active.stdout == 'active'
