server {
  listen 443 ssl;
  server_name {{ nginx_site.name }};
  ssl_certificate {{ nginx_public_key_directory }}/{{ nginx_site.name }}.crt;
  ssl_certificate_key {{ nginx_private_key_directory }}/{{ nginx_site.name }}.key;
  {{ rendered_location_lines }}
}
