{% import "macros.j2" as n %}

server {
  listen 443 ssl;
  server_name {{ nginx_site.name }};
  ssl_certificate {{ nginx_public_key_directory }}/{{ nginx_site.name }}.crt;
  ssl_certificate_key {{ nginx_private_key_directory }}/{{ nginx_site.name }}.key;
  location / {
    proxy_pass {{ nginx_site.proxy_pass }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
   proxy_set_header X-Forwarded-Proto $scheme;
{{ n.render_access_control(nginx_site) | default('', true) | indent(5, true) }}
{% if nginx_site.proxy_pass is match('^https://') %}
   proxy_ssl_verify {{ nginx_site.proxy_ssl_verify | default(nginx_proxy_ssl_verify) | ternary('on', 'off') }};
   proxy_ssl_server_name on;
{% if nginx_site.proxy_ssl_verify | default(nginx_proxy_ssl_verify) %}
   proxy_ssl_trusted_certificate {{ nginx_proxy_ssl_trusted_certificate | default('/etc/pki/tls/certs/ca-bundle.crt') }};
{% endif %}
{% endif %}
  }
{% if nginx_render_locations | default(true) and nginx_site.locations is defined %}
{% for location in nginx_site.locations %}
  location {{ location.path }} {
    proxy_pass {{ location.redirect_to | default(nginx_site.proxy_pass) }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
     proxy_set_header X-Forwarded-Proto $scheme;
{% if location.redirect_to | default(nginx_site.proxy_pass) is match('^https://') %}
{% if location.proxy_ssl_verify is defined %}
     proxy_ssl_verify {{ location.proxy_ssl_verify | ternary('on', 'off') }};
{% else %}
     proxy_ssl_verify {{ location.proxy_ssl_verify | default(nginx_site.proxy_ssl_verify | default(nginx_proxy_ssl_verify)) | ternary('on', 'off') }};
{% endif %}
     proxy_ssl_server_name on;
{% if location.proxy_ssl_verify | default(nginx_site.proxy_ssl_verify | default(nginx_proxy_ssl_verify)) %}
     proxy_ssl_trusted_certificate {{ nginx_proxy_ssl_trusted_certificate | default('/etc/pki/tls/certs/ca-bundle.crt') }};
{% endif %}
{% endif %}
{{ n.render_access_control(location, nginx_site) | default('', true) | indent(5, true) }}
{{ n.render_location_security(location) | default('', true) | indent(5, true) }}
{% for k, v in location.items() if k in ['proxy_set_header', 'proxy_redirect', 'proxy_buffering', 'proxy_http_version', 'proxy_read_timeout', 'proxy_send_timeout', 'proxy_connect_timeout'] and v is not none %}
     {{ k }} {{ n.render_value(v) }};
{% endfor %}
  }
{% endfor %}
{% endif %}
}
